#row1{
    background-color: rgb(32, 94, 216);
    color: antiquewhite;
    padding: 10px;
}
#row2{
    background-color: rgb(47, 102, 212);
    color: antiquewhite;
    padding: 10px;
}
#row3{
    background-color: rgb(61, 112, 212);
    color: antiquewhite;
    padding: 10px;
}
#row4{
    background-color: rgb(72, 118, 211);
    color: antiquewhite;
    padding: 10px;
}
#row5{
    background-color: rgb(78, 122, 212);
    color: antiquewhite;
    padding: 10px;
}
#row6{
    background-color: rgb(100, 136, 207);
    color: antiquewhite;
    padding: 10px;
}
#row7{
    background-color: rgb(148, 166, 201);
    color: antiquewhite;
    padding: 10px;
}
#row8{
    background-color:green;
    color: antiquewhite;
    padding: 10px;
}
#row9{
    background-color: rgb(247, 177, 192);
    color: antiquewhite;
    padding: 10px;
}
#row10{
    background-color: rgb(236, 125, 149);
    color: antiquewhite;
    padding: 10px;
}
#row11{
    background-color: rgb(238, 103, 133);
    color: antiquewhite;
    padding: 10px;
}
#row12{
    background-color: rgb(240, 91, 123);
    color: antiquewhite;
    padding: 10px;
}
#row13{
    background-color: rgb(245, 71, 108);
    color: antiquewhite;
    padding: 10px;
}
#row14{
    background-color: rgb(243, 52, 94);
    color: antiquewhite;
    padding: 10px;
}
#row15{
    background-color: rgb(241, 38, 82);
    color: antiquewhite;
    padding: 10px;
}